html{
    font-size: 22px;
}

.assignment
{
    display:flex;
    padding:10px;
    margin:10px;
    background: #FA8072;
    border-radius:12px;
}


.assignment img
{
    width:200px;
    padding: 10px;
    border:4px solid  #F8F8FF;
}

.assignment img:hover
{
    border:4px dashed #8FBC8F    ;

}

body{
    background-color: #F8F8FF;
    color:aliceblue;
}
h1{
    color: #696969;
    text-align: center;
}

a{
    text-decoration: none;
    color: #696969;
}
